* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0077b6;
    margin: 20px;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}

.blogHeader {
    background-color: #48cae4ff;
    padding: 20px;
    width: 50%;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.blogHeader a:hover{
    color: #03045eff;
    font-size: 105%;
    transition: 0.3s ease-in-out all;
}
.postContainer {
    background-color: #06aae0;
    width: 50%;
    padding: 15px;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: left;
    color: #03045e;
}
.postHeader {
    background-color: #023e8a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.postHeader a {
    color: white;
    font-size: 22px;
}
.postHeader a:hover{
    color: #90e0efff;
    font-size: 105%;
    transition: 0.3s ease-in-out all;
}
.postContainer p {
    font-size: 16px;
    line-height: 1.4em;
}
h1{
    font-size: 225%;
}
.addPostButton {
    background-color: #00b4d8ff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 115%;
    margin-top: 20px;
}
.addPostButton a{
    color: black;
}
.addPostButton:hover{
    background-color: #48cae4ff;
    transition: 0.3s ease-in-out all;
}
.postContent{
    overflow: hidden;
    height: 125px;
}
.loginForm {
    background-color: #06aae0;
    width: 30%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: left;
    color: #03045e;
}
input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
label{
    font-size: 16px;
    font-weight: bold;
}
button{
    background-color: rgb(3, 193, 231);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 115%;
    font-weight: bold;
}
/*
Kolory z których będziesz mógł korzystać w przyszłości:
    --deep-twilight: #03045eff;
    --french-blue: #023e8aff;
    --bright-teal-blue: #0077b6ff;
    --blue-green: #0096c7ff;
    --turquoise-surf: #00b4d8ff;
    --sky-aqua: #48cae4ff;
    --frosted-blue: #90e0efff;
    --frosted-blue-2: #ade8f4ff;
    --light-cyan: #caf0f8ff; 
*/