* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    background-color: #0077b6;
    margin: 20px;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}

.blogHeader {
    background-color: #48cae4ff;
    padding: 20px;
    width: 50%;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.blogHeader a:hover{
    color: #03045eff;
    font-size: 105%;
    transition: 0.3s ease-in-out all;
}
.postContainer {
    background-color: #06aae0;
    width: 55%;
    padding: 15px;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: left;
    color: #03045e;
}
.postHeader {
    background-color: #023e8a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
}
.postHeader a {
    color: white;
    font-size: 22px;
}
.postHeader a:hover{
    color: #90e0efff;
    font-size: 105%;
    transition: 0.3s ease-in-out all;
}
.postContainer p {
    font-size: 16px;
    line-height: 1.4em;
}
h1{
    font-size: 225%;
}
.addPostButton {
    background-color: #00b4d8ff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 115%;
    margin-top: 20px;
}
button a{
    color: black;
}
button:hover{
    background-color: #48cae4ff;
    transition: 0.3s ease-in-out all;
    font-size: 120%;
}
.postContent{
    overflow: hidden;
    height: 125px;
    background-color: #05bdfa;
    border: 1px solid #05bdfa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    color: black;
}
.postContent2{
    background-color: #05bdfa;
    border: 1px solid #05bdfa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    color: black;
}
.loginForm {
    background-color: #06aae0;
    width: 30%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: left;
    color: #03045e;
}
input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
label{
    font-size: 16px;
    font-weight: bold;
}
button{
    background-color: rgb(3, 193, 231);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 115%;
    font-weight: bold;
}
.adminPanel {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #03045eff;
    color: #03045eff;
}
.adminPanel tr{
    background-color: #06aae0;
}
.adminPanel th, .adminPanel td {
    border: 1px solid #03045eff;
    padding: 10px;
    text-align: left;
}
.adminPanel th {
    background-color: #023e8aff;
    color: white;
}
.adminPanel tr:hover{
    background-color: #90e0efff;
    transition: 0.3s ease-in-out all;
    font-size: 110%;
    font-weight: bold;
}
.edit{
    color: rgb(16, 218, 16);
    font-weight: bold;
}
.delete{
    color: red;
    font-weight: bold;
}
.delete:hover, .edit:hover{
    font-size: 110%;
    color: #03045e;
    transition: 0.3s ease-in-out all;
}
.blogForm {
    background-color: #06aae0;
    width: 50%;
    padding: 20px;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: left;
    color: #03045e;
}
textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #f0f9ff;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    resize: vertical;
}
footer{
    background-color: rgb(11, 186, 221);
    padding: 10px;
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    bottom: 0;
    text-align: center;

}
footer a{
    color: rgb(219, 216, 216);
    font-weight: bold;

}
footer a:hover{
    color: white;
    font-size: 110%;
    transition: 0.3s ease-in-out all;

}
.postDate{
    font-size: 14px;
    color: #023e8aff;
    font-weight: bold;
    margin-top: 10px;
}
.searchInput{
    width: 30%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img{
    width: 32px;
    height: 32px;
}
.searchButton{
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #00b4d8ff;
    color: white;
    cursor: pointer;
}