:root {
    --background: #001d3d;
    --accent: #FCA311;
    --grey: #333e47;
    --hover: #ffd60a;
    --lightGrey: #4a565f;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    background-color: #000814;
    margin: 20px;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}

.blogHeader {
    background-color: var(--grey);
    padding: 20px;
    width: 50%;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.blogHeader a:hover{
    color: var(--hover);
    font-size: 105%;
    transition: 0.3s ease-in-out all;
}
.postContainer {
    background-color: var(--lightGrey);
    width: 55%;
    padding: 15px;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: left;
    color: #03045e;
}
.postHeader {
    background-color: var(--accent);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    vertical-align: middle;
}
.postHeader h2{
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 10px;
}
.postHeader a {
    color: white;
    font-size: 22px;
}
.postHeader a:hover{
    color: black;
    font-size: 105%;
    transition: 0.3s ease-in-out all;
}
.postContainer p {
    font-size: 16px;
    line-height: 1.4em;
}
h1{
    font-size: 225%;
    color: white;
}
.addPostButton {
    background-color: var(--accent);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 115%;
    margin-top: 20px;
}
button a{
    color: black;
}
button:hover{
    background-color: var(--hover);
    transition: 0.3s ease-in-out all;
    font-size: 120%;
}
.postContent{
    overflow: hidden;
    height: 125px;
    background-color: #acacab;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    color: black;
}
.postContent2{
    background-color: #acacab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    color: black;
}
.loginForm {
    background-color: var(--lightGrey );
    width: 30%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: left;
    color: white;
}
input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
label{
    font-size: 16px;
    font-weight: bold;
}
button{
    background-color: var(--accent);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 115%;
    font-weight: bold;
}
.adminPanel {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid rgb(10, 10, 10);
    color: black;
}
.adminPanel tr{
    background-color: #6c6d63;
}
.adminPanel th, .adminPanel td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
.adminPanel th {
    background-color: var(--lightGrey);
    color: white;
}
.adminPanel tr:hover{
    background-color: var(--hover);
    transition: 0.3s ease-in-out all;
    font-size: 110%;
    font-weight: bold;
}
.edit{
    color: rgb(16, 218, 16);
    font-weight: bold;
}
.delete{
    color: red;
    font-weight: bold;
}
.delete:hover, .edit:hover{
    font-size: 110%;
    color: #03045e;
    transition: 0.3s ease-in-out all;
}
.blogForm {
    background-color: var(--lightGrey );
    width: 50%;
    padding: 20px;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: left;
    color: #03045e;
}
textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #f0f9ff;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    resize: vertical;
}
footer{
    background-color: var(--accent);
    padding: 10px;
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    bottom: 0;
    text-align: center;

}
footer a{
    color: rgb(219, 216, 216);
    font-weight: bold;

}
footer a:hover{
    color: white;
    font-size: 110%;
    transition: 0.3s ease-in-out all;

}
.postDate{
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.searchInput{
    width: 30%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img{
    width: 24px;
    height: 24px;
}
.searchButton{
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--accent);
    color: white;
    cursor: pointer;
    transform: scale(0.8);
}
.commentHeader {
    background-color: var(--accent);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    width: 25%;
    margin: 10px auto 10px auto;
    vertical-align: middle;
}   
.commentContainer {
    background-color: #b4750e;
    width: 50%;
    padding: 15px;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: left;
    color: white;
}
.commentContainer img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
.commentContainer img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.2s ease-in-out all;
}

